ugpy/EMNIST/

data/

ugpy/scratch_code/

ugpy/wandb/

ugpy/__pycache__/

.idea/

ugpy/synspy/analyze/__pycache__/

ugpy/synspy/__pycache__/

desktop.ini

manual/.ipynb_checkpoints/

manual/__pycache__/

tmp/
